li {
    font-family: 'Roboto', sans-serif;
    display: inline;
    padding: 50px;
}
  body {
    font-family: 'Roboto', sans-serif;
    color:#f1eedc;
    background-color: #0c0e1c
  }
  h1 {
    color:#f1eedc;
  }
  .flex-list{
    font-size: 30px;
    padding:40;
    padding-bottom: 50px;
  }
  .styled-list{
    text-decoration: none;
    font-size: 20px;
  }
  #ilove {
    font-size: 100px;
    color: #0c0e1c;
    display: inline;
    background-color: #f1eedc;
 }
 #computing {
    font-size: 100px;
    display: inline;
 }
 a:link { 
    text-decoration: none; 
} 
.carre {
    height: 40px;
    width: 40px;
    background-color: #f1eedc;
    float: left;
}
p {
    font-family: 'Roboto', sans-serif;
    column-count: 2;
}
a:visited{
    color: #f1eedc;
}
footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
}